<div class="main">
  <form  class="form" id="form">
    <h3 class="heading">Đăng nhập</h3>
    
    <p class="error" id="message"></p>

    <div class="form-group">
      <label for="username" class="form-label">Tài Khoản</label>
      <input id="username" name="username" type="text"  class="form-control">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input id="password" name="password" type="password"  class="form-control">
      <span class="form-message"></span>
    </div>
    
    <button class="form-submit">Đăng nhập</button>
    <div class="mt-3">
      <a class="btn btn-primary" href="/signup">Sign Up</a>
    </div>
  </form>
</div>
<script>
const $ = document.querySelector.bind(document)
$("#form").addEventListener("submit", async (e) => {
  e.preventDefault()
  const data = await fetch("/login", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      username: $("#username").value.trim(),
      password: $("#password").value.trim(),
    })
  }).then(res => res.json())
  if(data.message) {
    $("#message").textContent = data.message || "Server Error !"
  }
  if(data.status) {
    $("#message").classList("success")
    window.location.href = data.redirect
  }1
})
</script>

