<div class="main">
  <form action="/signup" method="POST" class="form" id="form">
    <h3 class="heading">Đăng ký tài khoản</h3>
    <p class="error" id="message"></p>

    <div class="form-group">
      <label for="username" class="form-label">Tài khoản</label>
      <input id="username" name="username" type="text" placeholder="VD: admin" class="form-control">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="name" class="form-label">Tên đầy đủ</label>
      <input id="name" name="name" type="text" placeholder="VD: Phạm Quý" class="form-control">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input id="email" name="mail" type="text" placeholder="VD: email@domain.com" class="form-control">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu</label>
      <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="facebook" class="form-label">ID Facebook</label>
      <input id="facebook" name="facebook" placeholder="VD: 100003520850408" type="text" class="form-control">
      <span class="form-message"></span>
    </div>
    
    <div class="form-group">
      <label for="age" class="form-label">Tuổi</label>
      <input id="age" name="age" placeholder="VD: 18" type="text" class="form-control">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="address" class="form-label">Địa chỉ</label>
      <input id="address" name="address" placeholder="VD: Hà Nội" type="text" class="form-control">
      <span class="form-message"></span>
    </div>
    
    <button class="form-submit">Đăng ký</button>
     <div class="mt-3">
        <a class="btn btn-primary" href="/login">Sign In</a>
      </div>
  </form>
</div>

<script>
  const $ = document.querySelector.bind(document)
$("#form").addEventListener("submit", async (e) => {
  e.preventDefault()
  const data = await fetch("/signup", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      username: $("#username").value.trim(),
      password: $("#password").value.trim(),
      name: $("#name").value.trim(),
      age: $("#age").value.trim(),
      address: $("#address").value.trim(),
      facebook: $("#facebook").value.trim(),
      mail: $("#email").value.trim()
    })
  }).then(res => res.json())
  if(data.message) {
    $("#message").textContent = data.message || "Server Error !"
  }
  if (data.status) {
    $("#message").classList.add("success")
    return window.location.href = data.redirect
  }
})
</script>