<div class="mt4 col-6">
  <a href="/users" class="btn btn-link">View Users</a>
</div>


<div class="mt4 col-6">
  <a href="/login" class="btn btn-link">Sign In</a>
</div>

<div class="mt4 col-6">
  <a href="/signup" class="btn btn-link">Sign Up</a>
</div>